<div class="jumbotron text-center">
  <h1>This side is demo for client who want to hire onlin caller</h1>
  <p>Everything is paid here.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Instruction 1:</h3>
      <p>1. first of all you need to register this site.</p>
    </div>
    <div class="col-sm-4">
      <h3>instruction 2:</h3>
      <p>2. After login you need to subscribe the plan</p>
    </div>
    <div class="col-sm-4">
      <h3>instruction 3:</h3>
      <p>According to plan you can selet the caller. caller will work 8 hours per day and plan will be weekly.</p>
    </div>
  </div>
</div>